* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 2000px;
  width: 100%;
}
.menu {
    width: 30rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menu-link{
    display: block;
    padding: 2rem 1.5rem;
    color: #333;
    bo
}