* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 2000px;
  width: 100%;
}
.menu {
    width: 30rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, , blue, alpha);
}